<template name="goal_move_modal">
<div class="ui basic modal goal-move-modal">
  <i class="close icon"></i>
  <div class="header">
    Move
  </div>
  <div class="content">
    <div class="description">
      <p>Select new parent for goal '{{movingGoal.title}}'</p>
      <div class="ui fluid search selection dropdown">
        <input type="hidden" name="parent">
        <i class="dropdown icon"></i>
        <div class="default text">Select new parent</div>
        <div class="menu">
        {{#each mostRecentGoals 10}}
          <div class="item" data-value="{{_id}}">{{title}}</div>
        {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui basic inverted button">
        <i class="remove icon"></i>
        Cancel
      </div>
      <div class="ui basic inverted button confirm-goal-move-button">
        <i class="share icon"></i>
        Move
      </div>
    </div>
  </div>
</div>
</template>
