<template name="goal_card">
<div class="ui card goal-card {{#if complete}}complete{{/if}}">
  <div class="content">

    <div class="ui right floated simple dropdown">
      <i class="ellipsis vertical icon"></i>
      <div class="menu">
        <div class="item goal-card-active-toggle">
          <i class="wait icon"></i>
          {{#if isActive}}
          Deactivate
          {{else}}
          Activate
          {{/if}}
        </div>
        <div class="item goal-card-edit-button">
          <i class="add icon"></i>
          Add Subgoals
        </div>
        <div class="item goal-card-edit-title-button">
          <i class="edit icon"></i>
          Edit Title
        </div>
        <div class="item goal-remove-button">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>

    <div class="header">
      <a href="{{pathFor route='goal' _id=_id}}">
        {{title}}
      </a>
    </div>

    <table class="ui table goal-card-checklist">
    {{#each subgoals}}
      {{> subgoal_row}}
    {{/each}}
    </table>

    {{#if editing}}
      {{> new_subgoal_box}}
    {{/if}}

  </div>

  <div class="ui bottom attached button goal-complete-button">
    {{#if complete}}
      <i class="check circle outline icon"></i>
    {{else}}
      <i class="radio icon"></i>
    {{/if}}
    Complete
  </div>

</div>
</template>


<template name="subgoal_row">
  <tr class="{{#if complete}}complete{{/if}}">
    <td class="collapsing">
      <div class="ui fitted checkbox subgoal-complete-box">
        <input type="checkbox" checked={{complete}}>
        <label></label>
      </div>
    </td>
    <td>
      <a href="{{pathFor route='goal' _id=_id}}">
        {{title}}
      </a>
    </td>
  </tr>
</template>


<template name="new_subgoal_box">
<div class="ui fluid action input new-subgoal-box">
  <input type="text" placeholder="New Subgoal" id="new-subgoal-title">
  <div id="add-subgoal-button" class="ui teal icon button">
    <i class="icon plus"></i>
  </div>
</div>
</template>
