<template name="goal_card">
<div id="{{_id}}" class="ui card goal-card {{#if complete}}complete{{/if}} {{#if isActive}}active-goal{{/if}}">
  <div class="content">

    {{#if complete}}
    <i class="right floated green check circle outline link icon goal-complete-button"></i>
    {{else}}
    <div class="ui right floated simple dropdown">
      <i class="vertical ellipsis icon"></i>
      <div class="menu">
        <div class="item goal-complete-button">
        <i class="radio icon"></i>
        Complete
        </div>
        <div class="item goal-card-active-toggle">
          <i class="wait icon"></i>
          {{#if isActive}}
          Deactivate
          {{else}}
          Activate
          {{/if}}
        </div>
        <div class="item goal-card-edit-button">
          <i class="add icon"></i>
          Add Subgoals
        </div>
        <div class="item goal-card-hide-completed-subgoals-toggle">
          {{#if hideCompletedSubgoals}}
          <i class="hide icon"></i>
          Show Complete
          {{else}}
          <i class="unhide icon"></i>
          Hide Complete
          {{/if}}
        </div>
        <div class="item goal-card-edit-title-button">
          <i class="edit icon"></i>
          Edit Title
        </div>
        <div class="item goal-remove-button">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>
    {{/if}}

    <div class="header">
      <a href="{{pathFor route='goal' _id=_id}}">
        {{title}}
      </a>
    </div>

    <table class="ui table goal-card-checklist">
    {{#each subgoals}}
      {{#if displayGoal complete}}
        {{> subgoal_row}}
      {{/if}}
    {{/each}}
    </table>

    {{#if editing}}
      {{> new_subgoal_box}}
    {{/if}}

  </div>

</div>
</template>


<template name="subgoal_row">
  <tr class="subgoal-row {{#if complete}}complete{{/if}} {{#if isActive}}active-goal{{/if}}">
    <td class="collapsing">
    {{#if complete}}
      <i class="right floated check circle link icon goal-complete-button"></i>
    {{else}}
      <div class="ui right floated simple right dropdown">
        <i class="circle thin icon goal-complete-button"></i>
        <div class="right menu">
          <div class="item goal-card-active-toggle">
            <i class="wait icon"></i>
            {{#if isActive}}
            Deactivate
            {{else}}
            Activate
            {{/if}}
          </div>
          <div class="item goal-card-edit-title-button">
            <i class="edit icon"></i>
            Edit
          </div>
          <div class="item goal-remove-button">
            <i class="remove icon"></i>
            Delete
          </div>
        </div>
      </div>
    {{/if}}
    </td>
    <td>
      <a href="{{pathFor route='goal' _id=../_id hash=_id}}">
        {{title}}
      </a>
    </td>
  </tr>
</template>


<template name="new_subgoal_box">
<div class="ui fluid action input new-subgoal-box">
  <input type="text" placeholder="New Subgoal" id="new-subgoal-title">
  <div id="add-subgoal-button" class="ui purple icon button">
    <i class="icon plus"></i>
  </div>
</div>
</template>
