@red: #D95C5C;
@green: #5BBD72;
@green-faded: #DEFFE5;

@light-yellow: #FFE21F;
@light-blue: #07c;
@light-gray: #F8F8F8;

@patrina-flowers: #D9B611;
@patrina-flowers-faded: #FFF7D4;

@madang: #C8F7C5;
@silver-band: #BDC3C7;
@edward: #ABB7B7;
@plum: #913D88;
@wax-flower: #F1A9A0;


@active-goal-color: @patrina-flowers;
@active-goal-color-bg: @patrina-flowers-faded;

@completed-goal-color: @green;
@completed-goal-color-bg: @green-faded;
@nest-goal-drop-color: @light-gray;
@goal-title-color: @light-blue;

@action-icon-color: #34495e;

.completed-goal {
  color: @completed-goal-color;
}

.active-goal {
  color: @active-goal-color;
}
