@import "palettes/basic-gyb.less";

@active-goal-color: @color-secondary-2-3;
@active-goal-color-bg: @color-secondary-2-1;

@completed-goal-color: @color-primary-0;
@completed-goal-color-bg: @color-primary-1;

@goal-title-color: @color-secondary-1-0;
@subgoal-title-color: rgba(0, 0, 0, 0.8);

@nest-goal-drop-color: @color-secondary-2-0;

@action-icon-color: #34495e;

.completed-goal {
  color: @completed-goal-color;
}

.active-goal {
  color: @active-goal-color;
}
