@red: #D95C5C;
@green: #5BBD72;
@light-yellow: #FFE21F;
@light-blue: #07c;

@active-goal-color: @red;
@completed-goal-color: @green;
@nest-goal-drop-color: @light-yellow;
@goal-title-color: @light-blue;

@action-icon-color: #34495e;
