@import "colours.less";


#drag-helper {
  display: none;
  position: absolute;
  cursor: default;
  white-space: no-wrap;
  padding: 0.65em 1.25em;
  background: #FFF;
  border: 1px solid #CCC;
  color: @semi-opaque-black;
}
