@import "colours.less";

#board-container {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 36px;
  width: 100%;

  min-height: calc(~'33.333% - 36px');

  .goal-card {
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    min-height: 33vh;
  }
}

#board-container .action-box i {
  color: @action-icon-color;
}

.goal-card {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 992px) {
    width: 33.33333%;
  }

  @media screen and (min-width: 1400px) {
    width: 25%;
  }

  @media screen and (min-width: 1920px) {
    min-width: 20em;
    max-width: 25em;
  }
}
