@import "colours.less";


// Card

.goal-card {
  transition: all 0.4s;
  padding: 1em;
  border: 1px solid #EEE;

  a {
    color: rgba(0, 0, 0, 0.8);
  }

  .action-box {
    transition: all 0.4s;
    float: right;
    opacity: 0.0;
  }

  .header a {
    color: @goal-title-color;
  }

  // Hover effects

  &.complete .action-box {
    opacity: 1.0;
  }

  &:hover .action-box {
    opacity: 1.0;
  }

}


// Subgoal table

.ui.table.goal-card-checklist, .ui.table.goal-card-checklist tr, .ui.table.goal-card-checklist td {
  border: 0;
}


// State transitions

.goal-card.active-goal .header a {
  border-color: @active-goal-color;
  color: @active-goal-color;
}

.goal-card.complete {
  border-color: @completed-goal-color;
  opacity: 0.5;
  .header a {
    color: @completed-goal-color;
    text-decoration: line-through;
  }
}

.ui.table.goal-card-checklist tr.complete td {
  opacity: 0.5;
  a {
    text-decoration: line-through;
  }
  a, i {
    color: @completed-goal-color;
  }
}

.subgoal-row.active-goal {
  color: @active-goal-color;
  a {
    color: @active-goal-color;
  }
}


// Drag and drop

.checklist-placeholder {
  border: 1px solid #CCC;
  background: #F8F8F8;
}


.goal-card.nest-goal-hover {
  background: @nest-goal-drop-color;
}
