@red: #D95C5C;

@active-goal-color: @red;

.subgoal-row.active-goal {
  color: @active-goal-color;
  a {
    color: @active-goal-color;
  }
}

.ui.card.goal-card.active-goal {
  box-shadow: 0px 3px 0px 0px @active-goal-color, 0px 0px 0px 1px @active-goal-color;
  .header a {
    color: @active-goal-color;
  }
}

.goal-card {
  transition: all 0.4s !important;
  a {
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: #00b2f3;
    }
  }
}

.goal-card.complete {
  opacity: 0.5;

  .header {
    text-decoration: line-through;
  }
}

.ui.table.goal-card-checklist, .ui.table.goal-card-checklist tr, .ui.table.goal-card-checklist td {
  border: 0;
}

.ui.table.goal-card-checklist tr.complete td a {
  color: #ddd;
  text-decoration: line-through;
}
