@red: #D95C5C;
@green: #5BBD72;

@active-goal-color: @red;
@completed-goal-color: @green;

#tree-header.active-goal {
  color: @active-goal-color;
}

#tree-header.complete {
  opacity: 0.5;
  color: @completed-goal-color;
}
