@import "colours.less";


// Card

.goal-card {

  transition: all 0.4s;
  padding: 1em;

  .header a {
    color: @goal-title-color;
  }

  .action-box {
    float: right;

    .ui.simple.dropdown:hover .menu {
      left: -9em;
    }
  }

  .action-box-icon {
    transition: all 0.2s;
    opacity: 0.0;
  }

  // Subgoal rows

  .subgoal-row a {
    color: @subgoal-title-color;
  }

  // Goal state indications

  &.active-goal {
    background: @active-goal-color-bg;
    .header a {
      color: @subgoal-title-color;
    }
  }

  &.complete {
    background: @completed-goal-color-bg;
    opacity: 0.7;
    .header a {
      color: @completed-goal-color;
    }
  }

  // Hover effects

  &.active-goal, &.sorting-card {
    .action-box-icon {
      opacity: 0.8;
    }
  }

  &.complete {
    .action-box-icon {
      opacity: 1.0;
    }
  }

  &:hover .action-box-icon {
    opacity: 0.8;
  }
}


.card-drag-placeholder {
  background: #FFF;
  border: 1px solid #EEE;
  padding: 0.75em 1.5em;
  color: @goal-title-color;
}


// New Card


.goal-card.new-card-placeholder {

  .action-box {
    opacity: 1.0;
  }

  .new-card-title {
    transition: all 0.4s;
    border: 0;
    border-bottom: 1px solid #DDD;
    width: 60%;
  }

  .new-card-title:invalid {
    opacity: 0.0;
  }

  .new-card-title:valid, .new-card-title:focus, &:hover .new-card-title:invalid {
    opacity: 1.0;
  }
}


// Subgoal table

.goal-card-checklist {
  margin-top: 0.8em;
  td {
    padding: 0.6em;
  }
}

.goal-card {

  .new-subgoal-row {
    transition: all 0.2s;
    opacity: 1.0;

    input {
      border: 0;
      border-bottom: 1px solid #DDD;
      width: 80%;
    }
  }

  &:hover .new-subgoal-row {
    opacity: 1.0;
  }
}


// State transitions

.subgoal-row {
  i {
    color: @action-icon-color;
  }

  &.complete td {
    opacity: 0.5;
    a {
      text-decoration: line-through;
    }
    a, i {
      color: @completed-goal-color;
    }
  }

  &.active-goal {
    color: @active-goal-color;
    a {
      color: @active-goal-color;
    }
    .subgoal-entry-icon {
      color: @active-goal-color;
    }
  }

  .ui.dropdown .menu a.completed-goal {
    color: @completed-goal-color;
    text-decoration: line-through;
  }
}


// Drag and drop

.goal-card-checklist tr.checklist-placeholder {
  background: @nest-goal-drop-color;
}


.goal-card.nest-goal-hover {
  background: @nest-goal-drop-color;
}


.goal-card-checklist tr.subgoal-row.nest-goal-hover {
  background: @nest-goal-drop-color;
}
