@import "colours.less";

#pop-stack-link, #active-goal-box {
  max-width: 30%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#no-active-goal-box {
  color: #AAA;
  cursor: default;
}

#top-menu .completed-goal {
  color: @completed-goal-color;
}
