<template name="about_modal">
  <div class="content">
    <h4 class="ui header">
      Welcome to {{siteName}}!
    </h4>

    <p>
    {{siteName}} is designed to help you break down complex tasks and focus on working through the pieces efficiently.
    </p>

    <p>
    If you haven't used {{siteName}} before, we recommend taking the site tour to get a quick introduction to the main features.
    </p>

    <button class="ui button start-tour-button">
      Take a tour
    </button>
    <button class="ui button close-modal-button">
      Skip tour
    </button>
  </div>
</template>
