<template name="base_layout">

<nav class="ui purple inverted fixed menu">
  <a class="item" href="/"> <i class="home icon"></i> Home </a>
  {{#if parent}}
  <a class="item pop-stack-link" href="{{pathFor route='goal' _id=parent._id hash=goal._id}}">
    <i class="ui chevron up icon"></i>
    {{parent.title}}
  </a>
  {{/if}}

  <div class="right item">
    {{> loginButtons align="right"}}
  </div>

  {{#if activeGoal}}
  <a class="right item" href="{{pathFor route='goal' _id=activeGoal._id}}">
    <i class="wait icon"></i>
    {{activeGoal.title}}
  </a>
  {{else}}
  <div id="no-active-goal-box" class="right item">
    No active goal
  </div>
  {{/if}}
</nav>

<main class="ui centered vertically padded page grid">
  {{> yield}}
</main>

{{> goal_move_modal}}

</template>
