<template name="base_layout">

<nav class="ui purple inverted fixed menu">
  <a class="item" href="/"> <i class="home icon"></i> Home </a>
  {{#if parent}}
  <a class="item pop-stack-link" href="{{pathFor route='goal' _id=parent._id hash=goal._id}}">
    <i class="ui chevron up icon"></i>
    {{parent.title}}
  </a>
  {{/if}}

  <div class="right item">
    {{> loginButtons align="right"}}
  </div>

  <div id="active-goal-box" class="{{#if noActiveGoal}}no-active-goal{{/if}} right item">
  {{#if activeGoal}}
  <i class="wait icon"></i>
  <a href="{{pathFor route='goal' _id=activeGoal._id}}"> {{activeGoal.title}} </a>
  {{else}}
  No active goal
  {{/if}}
  </div>
</nav>

<main class="ui centered vertically padded page grid">
  {{> yield}}
</main>

</template>
