<template name="goal_tree">

<div class="fourteen wide column">
  <div class="ui breadcrumb">
    <a class="section" href="/"><i class="icon home"></i></a>
    <i class="right chevron icon divider"></i>
  {{#each breadcrumb}}
    {{> breadcrumb_entry goal=this}}
  {{/each}}
  </div>
</div>


<div id="goal-title-column" class="twelve wide column">
  <div class="goal-tree-menu">
    {{#if goal.complete}}
    <i class="large green checkmark link icon goal-complete-button"></i>
    {{else}}
    <div class="ui simple dropdown">
      <i class="large vertical ellipsis icon"></i>
      {{> goal_menu goal=goal addSubgoalsAction=true hideCompletedSubgoalsAction=true}}
    </div>
    {{/if}}
  </div>
  <h1 id="tree-header" class="ui center aligned header {{#if goal.complete}}complete{{/if}} {{#if isActive}}active-goal{{/if}}">
    {{goal.title}}
  </h1>
</div>


<div class="twelve wide column">
  <div class="ui large fluid action input">
    <input disabled={{#if goal.complete}}disabled{{/if}} type="text" placeholder="Subgoal title" id="new-goal-title">
    <div id="add-goal-button" class="ui large purple {{#if goal.complete}}disabled{{/if}} labeled icon button">
      <i class="icon plus"></i>
      Add
    </div>
  </div>
</div>


<div class="twelve wide column">
  <div class="ui two cards">
    {{#each filteredSubgoals}}
      {{> goal_card goal=this }}
    {{/each}}
  </div>
</div>

</template>


<template name="breadcrumb_entry">
{{#if isContext ../..}}
<div class="active section">{{goal.title}}</div>
{{else}}
  <a class="section" href="{{pathFor route='goal' _id=goal._id}}">{{goal.title}}</a>
  <i class="right chevron icon divider"></i>
{{/if}}
</template>
