<template name="goal_tree">

<div class="fourteen wide column">
  <div class="ui breadcrumb">
    <a class="section" href="/"><i class="icon home"></i></a>
    <i class="right chevron icon divider"></i>
  {{#each breadcrumb}}
    {{> breadcrumb_entry}}
  {{/each}}
  </div>
</div>


<div id="goal-title-column" class="twelve wide column">
  <div class="goal-tree-menu">
    {{#if complete}}
    <i class="large green checkmark link icon goal-complete-button"></i>
    {{else}}
    <div class="ui simple dropdown">
      <i class="large vertical ellipsis icon"></i>
      <div class="menu">
        <div class="item goal-complete-button">
          <i class="checkmark icon"></i>
          Complete
        </div>
        <div class="item goal-active-toggle">
          <i class="wait icon"></i>
          {{#if isActive}}
          Deactivate
          {{else}}
          Activate
          {{/if}}
        </div>
        <div class="item goal-hide-completed-subgoals-toggle">
          {{#if hideCompletedSubgoals}}
          <i class="hide icon"></i>
          Show Complete
          {{else}}
          <i class="unhide icon"></i>
          Hide Complete
          {{/if}}
        </div>
        <div class="item edit-goal-title-button">
          <i class="edit icon"></i>
          Edit Title
        </div>
        <div class="item goal-remove-button">
          <i class="remove icon"></i>
          Delete
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  <h1 id="tree-header" class="ui center aligned header {{#if complete}}complete{{/if}} {{#if isActive}}active-goal{{/if}}">
    {{title}}
  </h1>
</div>


<div class="twelve wide column">
  <div class="ui large fluid action input">
    <input disabled={{#if complete}}disabled{{/if}} type="text" placeholder="Subgoal title" id="new-goal-title">
    <div id="add-goal-button" class="ui large purple {{#if complete}}disabled{{/if}} labeled icon button">
      <i class="icon plus"></i>
      Add
    </div>
  </div>
</div>


<div class="twelve wide column">
  <div class="ui two cards">
    {{#each filteredSubgoals}}
      {{> goal_card}}
    {{/each}}
  </div>
</div>

<div class="goal-card">
  <div class="extra content">
    Testing!
  </div>
</div>

</template>


<template name="breadcrumb_entry">
{{#if isContext ..}}
<div class="active section">{{title}}</div>
{{else}}
  <a class="section" href="{{pathFor route='goal' _id=_id}}">{{title}}</a>
  <i class="right chevron icon divider"></i>
{{/if}}
</template>
