<template name="goal_tree">

<div class="fourteen wide column">
  <div class="ui breadcrumb">
    <a class="section" href="/"><i class="icon home"></i></a>
    <i class="right chevron icon divider"></i>
  {{#each breadcrumb}}
    {{> breadcrumb_entry}}
  {{/each}}
  </div>
</div>


<div class="fourteen wide column">
  <a href="{{pathFor route='goal' _id=context._id}}">
    <h1 class="ui center aligned header">
      {{context.title}}
    </h1>
  </a>
</div>


<div class="twelve wide column">
  <div class="ui large fluid action input">
    <input type="text" placeholder="Subgoal title" id="new-goal-title">
    <div id="add-goal-button" class="ui purple labeled icon button">
      <i class="icon plus"></i>
      Add
    </div>
  </div>
</div>


<div class="twelve wide column">
  <div class="ui two cards">
    {{#each goal.subGoals}}
      {{> goal_card}}
    {{/each}}
  </div>
</div>

<div class="goal-card">
  <div class="extra content">
    Testing!
  </div>
</div>

</template>


<template name="breadcrumb_entry">
{{#if isContext ..}}
<div class="active section">{{title}}</div>
{{else}}
  <a class="section" href="{{pathFor route='goal' _id=_id}}">{{title}}</a>
  <i class="right chevron icon divider"></i>
{{/if}}
</template>
